body {
  margin: 0;
  background-color: black;
  color: black;
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.container button {
  padding: 10px;
  font-size: larger;
  border: 2px solid black;
  border-radius: 2px;
}
